<div class="back">
    <table summary="Los grupos de música punk más famosos del Reino Unido" id=cont>
    <caption>Películas más vistas en 2021</caption>
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Recaudación</th>
        <th scope="col">Espectadores</th>
        <th scope="col">Personaje Protagonista</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Fast and Fuious 9</th>
        <td>9.545.343€</td>
        <td>1.533.273</td>
        <td>Dom Toretto</td>
      </tr>
      <tr>
        <th scope="row">Venom 2</th>
        <td>8.767.407€</td>
        <td>1.375.773</td>
        <td>Eddie Brock</td>
      </tr>
      <tr>
        <th scope="row">¡A todo tren! Destino Asturias</th>
        <td>8.492.473€</td>
        <td>1.500.579</td>
        <td>Ricardo</td>
      </tr>
      <tr>
        <th scope="row">Dune</th>
        <td>8.241.598€</td>
        <td>1.369.946</td>
        <td>Paul Atreides</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="2">Total reacudado: </th>
        <td colspan="2">12651223</td>
      </tr>
    </tfoot>
  </table>
</div>
